<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Create Note</title>
    
</head>
<body>
    <h1>Create Note</h1>
    <form action="/notes2" method="post">

        <label for="titleInput">Title</label>
        <input type="text" id="titleInput" name="title">

        <label for="contentsInput">Contents</label>
        <textarea name="contents" id="contentsInput" cols="30" rows="10"></textarea>
        <button type="submit">SUBMIT</button>
    </form>

   
</body>
</html>