<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>All Notes</title>
    
</head>
<body>
    <h1>Notes</h1>

    <ul>
        <% notes.forEach(note=>{ %>
            <li>
                <h2><%= note.title %></h2>
                <p><%= note.contents.substring(0, 200) %>...</p>
                <p><%= new Date(note.timestamp) %></p>
                <button style="border-radius: 25%;"><a href="/notes/<%= note.id %>">View More</a></button>


            </li>

        <%}) %>
    </ul>
    <button style="border-radius: 50%;" ><a href="/createNote">Create Note</a></button>
    
</body>
</html>